@model MVC_Blogg_v2.Models.ExternalLoginConfirmationViewModel
@{
    Layout = null;
    ViewBag.Title = "Register";
}

<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
</head>
<body>

    <div class="background">
        <div class="login-form">
            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p class="text-center white">
                    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                    Please enter a user name for this site below and click the Register button to finish
                    logging in.
                </p>

                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <span class="input input-style">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-field input-field-style" })
                    <label class="input-label input-label-style" for="Email" data-content="Email">
                        <span class="input-label-content input-label-content-style">Email</span>
                    </label>
                </span>


                <button type="submit" class="login-btn">
                    Register
                </button>
            }
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>